@font-face {
  font-family: "iconfont"; /* Project id 4071987 */
  src: url('iconfont.woff2?t=1684292231914') format('woff2'),
       url('iconfont.woff?t=1684292231914') format('woff'),
       url('iconfont.ttf?t=1684292231914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qing-ye:before {
  content: "\e608";
}

.icon-qing-baitian:before {
  content: "\e609";
}

