html {
  height: 100%;
  // scrollbar-width: none;
}

body {
  height: 100%;
  // scrollbar-width: none;
  margin: 0;
  padding: 
    env(safe-area-inset-top) 
    env(safe-area-inset-right) 
    env(safe-area-inset-bottom) 
    env(safe-area-inset-left);
}

#app {
  height: 100%;
}

@font-face {
  font-display: block;
  font-family: riwenlogo;
  src: url('../assets/fonts/riwenlogo.ttf');
}
